@import "./reset.css";

$baseColor: rgb(20, 200, 35);
$baseDeepColor: rgb(14, 177, 28);
$baseLightColor: rgba(184, 255, 190, 0.253);
$fontBaseColor: #333;
$fontGrayColor: #ccc;
$borderBaseColor: #f2f2f2;

@mixin inputStd {
  height: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 0.5rem;
  border: 1px solid $fontGrayColor;
  width: 100%;
  font-family: "Noto Sans KR", "Noto Sans", sans-serif;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", "Noto Sans", sans-serif;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: $fontBaseColor;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

// header
header {
  min-height: 80px;
  display: flex;
  align-items: center;
}

.innerWrap {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.contentWrap {
  flex: 1;
}

.header__box {
  display: flex;
  align-items: center;

  .logo a {
    font-family: "Oswald", "Noto Sans KR", "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: $baseColor;
    margin-right: 60px;
  }

  nav {
    display: flex;
    flex: 1;

    ul {
      display: flex;

      li {
        min-width: 90px;
        margin: 0 20px;
        font-size: 22px;
        color: $fontBaseColor;
        font-weight: 600;
        
        a {
          display: block;
          border-radius: 10px;
          padding: 8px 20px;
          &:hover,
          &:focus {
            background-color: $baseLightColor;
          }
          &:active {
            transform: scale(0.95);
            color: $fontBaseColor;
          }
        }
      }
    }
  }

  .logout__box {
    display: flex;

    .logout__info {
      min-width: 230px;
      margin-right: 20px;
      color: $fontGrayColor;
    }

    .logout-btn {
      margin-right: 30px;
      color: $fontGrayColor;
      min-width: 80px;

      &:hover,
      &:focus {
        text-decoration: underline;
        cursor: pointer;
        color: $fontBaseColor;
      }
    }
  }
}

// 카테고리별 공통 디자인 적용
.category__title {
  color: $baseColor;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.category__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-right: 100px;
  padding: 10px 40px;
  min-height: 60px;

  a {
    background-color: $baseColor;
    padding: 18px;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;

    &:focus,
    &:hover {
      background-color: $baseDeepColor;
    }
  }
}

.category__list,
.category__detail {
  max-width: 1000px;
  margin:  auto;
  padding: 020px;
  line-height: 24px;
  text-decoration: none;

  a {
    text-decoration: none;
    color: $fontBaseColor;
  }
}

.category__box {
  margin: 24px 0;
  padding: 20px;
  border-top: 1px solid $borderBaseColor;

  .category__date {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    color: $fontGrayColor;
  }

  .category__content {
    margin: 20px 0;
    font-size: 20px;
    line-height: 2rem;
  }

  .category__source {
    margin: 10px 0;
  }

  .category__culture__date {
    margin: 20px 0;
    font-size: 20px;
    line-height: 2rem;
    color: $fontBaseColor;
  }

  .category__culture__content {
    color: $fontBaseColor;
    margin: 10px 0;
    font-size: 20px;
  }

  .category__culture__attatchment img {
    width: 70%;
    max-height: 400px;
    object-fit: cover;
    padding: 20px;    
  }

  .category__utils-box {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    .category__edit a,
    .category__delete {
      display: inline-block;
      padding: 8px;
      border-radius: 10px;
      color: #fff;
      cursor: pointer;
    }

    .category__edit a {
      background-color: rgb(100, 167, 255);
    }

    .category__delete {
      background-color: rgb(241, 79, 79);
    }

    .category__edit a:hover,
    .category__edit a:focus {
      background-color: rgb(29, 126, 253);
    }

    .category__delete:hover,
    .category__delete:focus {
      background-color: red;
    }
  }

  .category__source {
    color: $fontGrayColor;
  }
}

.category__detail {
  .category__box {
    border-top: none;
  }

  .image-attatchment img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
    padding: 20px;
  }
}

.category__content-pre-wrap {
  white-space: pre-wrap;
}

.category__no-post {
  margin-top: 20px;
  padding: 24px;
  text-align: center;
  color: $fontGrayColor;
  border: 1px solid $fontGrayColor;
  border-radius: 20px;
}

// form
.form {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;

  input {
    @include inputStd();
    height: 48px;
  }

  textarea {
    @include inputStd();
    min-height: 300px;
    line-height: 1.5rem;
  }

  .form__block {
    margin: 40px 0;
  }

  label {
    display: block;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
  }

  .post-form__attatchment img {
    width: 100%;
    object-fit: cover;
    padding: 20px;
  }

  .form__btn-submit {
    height: 60px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    background-color: $baseColor;
    font-size: 20px;
    font-weight: 500;

    &:hover,
    &:focus {
      background-color: $baseDeepColor;
    }

    &:active {
      transform: scale(0.995);
    }
  }

  .form__error {
    color: red;
  }
  
}

// login form
.form__title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-top: 30px;
}

.form__link {
  margin-left: 10px;
  color: $fontBaseColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// loader
.loader {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid $baseColor;
  border-top-color: transparent;
  border-radius: 50%;
  z-index: 9;
  animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// comments
.comments {
  width: 100%;

  .comments__form {
    label {
      font-weight: 600;
      display: block;
      margin-bottom: 10px;
    }

    textarea {
      @include inputStd();
      min-height: 80px;
      line-height: 1.5rem;
    }

    .form__btn-submit {
      width: 100px;
      height: 36px;
      cursor: pointer;
      font-weight: 600;
      background-color: $baseColor;
      color: #fff;
      border: none;
      border-radius: 5px;

      &:hover,
      &:focus {
        background-color: $baseDeepColor;
        outline: none;
      }
    }
  }

  .form__block-reverse {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .comments__list {
    margin-top: 40px;
    margin-bottom: 100px;
  }

  .comment__box {
    padding: 12px 0px;
    border-bottom: 1px solid $borderBaseColor;
  }

  .comment__profile-box {
    display: flex;
    gap: 10px;
    font-size: 14px;
  }

  .comment__email {
    font-weight: 500;
  }

  .comment__date {
    color: $fontGrayColor;
  }

  .comment__delete {
    color: $fontGrayColor;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $fontBaseColor;
    }
  }

  .comment__text {
    padding-top: 4px;
  }
}

// footer
footer {
  min-height: 50px;
  background-color: $baseColor;
}
